In [76]:
import pandas as pd

In [80]:
df = pd.read_csv('glassdoor_jobs.csv')

In [33]:
# Data cleaning

In [75]:
# 1 - Salary Parsing

In [78]:
# removing rows which has -1 in salary estimate columns

In [81]:
# sperating sub categories (#per hour, #Employer provided Salary)
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df['employer_provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)

In [83]:
# Splitting, removing K and $ 
df = df[df['Salary Estimate'] != '-1']
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])
minus_Kd = salary.apply(lambda x: x.replace('K','').replace('$',''))

In [85]:
min_hr = minus_Kd.apply(lambda x: x.lower().replace('per hour','').replace('employer provided salary:',''))

In [86]:
# 2 columns for min salary and max salary
df['min_salary'] = min_hr.apply(lambda x: int(x.split('-')[0]))
df['max_salary'] = min_hr.apply(lambda x: int(x.split('-')[1]))
df['avg_salary'] = (df.min_salary+df.max_salary)/2

In [34]:
#  2 - Company name text only

In [88]:
# Removing the ratings from the company name 
df['comp_txt'] = df.apply(lambda x: x['Company Name'] if x['Rating']<0 else x['Company Name'][:-3],axis = 1)

In [89]:
# 3 - State field

In [90]:
# new column with only state name 
df['job_state']= df['Location'].apply(lambda x: x.split(',')[1])

In [91]:
# Job at head quarters?

df['same_state']= df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis = 1)

In [92]:
# 4 - Age of the Company

In [93]:
# new column with age of the company 
df['age']= df.Founded.apply(lambda x : x if x<1 else 2024-x)

In [94]:
# Sparsing tech skils from JD

In [95]:
# Python

df['python'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df['r'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
df['spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)

In [96]:
# removing the Unnamed: 0 column 
df_out = df.drop('Unnamed: 0',axis = 1)

In [97]:
df_out.to_csv('Cleaned Salary Data.csv',index = False)

In [98]:
df1= pd.read_csv('Cleaned Salary Data.csv')

In [100]:
df1[df1.hourly==1][['hourly','min_salary','max_salary']]

     hourly  min_salary  max_salary
165       1          17          24
177       1          21          34
197       1          18          25
202       1          21          34
210       1          15          25
246       1          17          24
271       1          21          34
337       1          18          25
345       1          24          39
357       1          21          34
363       1          25          28
408       1          21          29
409       1          10          17
492       1          18          25
509       1          24          39
533       1          21          34
542       1          25          28
617       1          21          29
618       1          10          17
645       1          27          47
666       1          18          25
682       1          24          39
711       1          21          34
724       1          25          28