In [1]:
import pandas as pd

In [33]:
# Data cleaning

In [75]:
# 1 - Salary Parsing

In [6]:
# removing rows which has -1 in salary estimate columns 
df = df[df['Salary Estimate']!='-1']

In [27]:
# sperating sub categories (#per hour, #Employer provided Salary)
df['hourly']= df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df['employer_provided']= df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)

In [28]:
# Splitting, removing K and $ 
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])
minus_kd = salary.apply(lambda x:x.replace('K','').replace('$',''))

In [29]:
minus_hr = minus_kd.apply(lambda x:x.replace('per hour','').replace('employer provided salary:',''))

In [31]:
# 2 columns for min salary and max salary
df['min_salary']= minus_hr.apply(lambda x:x.split('-')[0])
df['max_salary']= minus_hr.apply(lambda x:x.split('-')[1])

In [34]:
#  2 - Company name text only

In [41]:
# Removing the ratings from the company name 
df['comp_txt'] = df.apply(lambda x: x['Company Name'] if x['Rating']<0 else x['Company Name'][:-3],axis = 1)

In [ ]:
# 3 - State field

In [45]:
# new column with only state name 
df['job_state']= df['Location'].apply(lambda x: x.split(',')[1])

In [55]:
# Job at head quarters?

df['same_state']= df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis = 1)

In [62]:
# 4 - Age of the Company

In [60]:
# new column with age of the company 
df['age']= df.Founded.apply(lambda x : x if x<1 else 2024-x)

In [63]:
# Sparsing tech skils from JD

In [67]:
# Python

df['python'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df['r'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
df['spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)

In [70]:
# removing the Unnamed: 0 column 
df_out = df.drop('Unnamed: 0',axis = 1)

In [72]:
df_out.to_csv('Cleaned Salary Data.csv',index = False)